/* About Me Section */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');
.aboutMeSection {
    width: 100vw;
    margin-top: 10vh;
    height: 50vh;
    padding: 20px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    transition: all 0.8s;
    display: flex;
    justify-content: space-evenly;
    background-position: center;
    background-size: cover;
}


.aboutMeContent {
    display: flex;
    color: black;
    font-size: smaller;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    overflow: auto;
    padding: 15px;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 3px solid black;
    transition: all 0.7s;
}

.aboutMeTitle{
    font-family: 'Unbounded', cursive;
}

.aboutMeBox {
    display: flex;
    width: 50%;
    font-size: smaller;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.7s;
    color: white;
    
}

.aboutMeContent:hover {
    border: 3px solid rgb(138, 224, 239);
    border-radius: 1rem;
}

.aboutMeContent::-webkit-scrollbar {
    display: none;
}

.aboutMeImg {
    width: 38vw;
}

@media (max-width: 730px) {
    .aboutMeSection {
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .aboutMeContent {
        width: 100%;
    }

    .aboutMeBox {
        width: 100%;

    }

    .aboutMeImg {
        width: 70vw;
    }


}

@media (max-width: 550px) {
    .aboutMeSection {
        flex-direction: column;
        align-items: center;
        height: 110vh;
    }

    .aboutMeContent {
        width: 100%;
    }

    .aboutMeImg {
        width: 80vw;
    }


}

@media (max-width: 450px) {
    .aboutMeSection {
        flex-direction: column;
        align-items: center;
        height: 110vh;
    }

    .aboutMeContent {
        width: 100%;

    }

    .aboutMeImg {
        width: 80vw;
    }


}


@media (max-width: 375px) {
    .aboutMeSection {
        flex-direction: column;
        align-items: center;
        height: 110vh;
    }

    .aboutMeContent {
        width: 100%;
        margin-bottom: 10vh;
        font-size: .6rem;
    }

    .aboutMeImg {
        width: 95vw;
    }


}